@model IEnumerable<ThuMuaHangWeb.Models.MonAn>

@{
    ViewData["Title"] = "Display";
}

<div class="banner">
            <div class="banner-text">
                <h1>Danh Sách Món Ăn</h1>
            </div>
        </div>
        <hr />

<a type="button" class="btn btn-outline-primary mt-5 mb-2" asp-action="Create">Thêm món ăn</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhomMonAn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaMonKhuyenMai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhomMonAn.TenNhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaMonKhuyenMai)
            </td>
            
            @if (@item.Active == true)
            {
                <td>Đang bán</td>
            }
            else
            {
                <td>Ngừng bán</td>
            }

            <td>
                    <a asp-action="Edit" asp-route-id="@item.MonId"><i class="fa fa-pencil-square-o pe-2"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.MonId" class="text-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
         @*       <a asp-action="Edit" asp-route-id="@item.MonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MonId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
