@model IEnumerable<ThuMuaHangWeb.Models.NhomMonAn>

@{
    ViewData["Title"] = "Index";
}

<div class="banner">
    <div class="banner-text">
        <h1>Danh Sách Nhóm Món Ăn</h1>
    </div>
</div>
<hr />

<a type="button" class="btn btn-outline-primary mt-5 mb-2" asp-action="Create">Thêm nhóm món ăn</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNhom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            @if (@item.Active == true)
            {
                <td>Đang bán</td>
            }
            else
            {
                <td>Ngừng bán</td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.NhomId"><i class="fa fa-pencil-square-o pe-2"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
