@model ThuMuaHangWeb.Models.IIndex

@{
    ViewData["Title"] = "Index";
    var groupedData = Model.MonAns
    .GroupBy(monAn => monAn.NhomMonAn)
    .OrderBy(gc => gc.Key.Order);

    var groupComboes = Model.Comboes.GroupBy(combo => combo.NhomMon);
    string ConvertGia(decimal gia)
    {
        if (gia >= 1000)
        {
            return (gia / 1000).ToString("N0");
        }
        return gia.ToString("N0");
    }
}


<div class="favorite-dishes">
    <div class="image text-center">
        <img src="./images/menu-01-1.jpg" class="image-item" />
        <img src="./images/menu-01-2.jpg" class="image-item" />
    </div>
    
    <button id="btnGiaiMa" class="button btn-matma">
        MẬT MÃ
    </button>
    @foreach (var groupCombo in groupComboes)
    {
    <div class="group-combo py-5 px-4">
        <div class="title-container">
            <div class="vertical-line"></div>
            @if (groupCombo.Key.NhomCha != null)
            {
                    <div class="title px-4">@groupCombo.Key.NhomCha?.TenNhom</div>
                <div class="subtitle">@groupCombo.Key.TenNhom</div>
            }
            else
            {
                <div class="title">@groupCombo.Key.TenNhom</div>
            }
        </div>
                
                
        <div class="menu">
            <ul>
            @foreach (var combo in groupCombo)
            {
                <div class="col mt-4">
                    <div class="dish-name"><i class="fa fa-solid fa-star"></i> @combo.TenCombo</div>
                    <div class="dish-note">(@combo.GhiChu)</div>
                </div>
                        <div class="row align-items-center">
                    <div class="combo-des col-9 col-xxl-7 pt-3">
                        @Html.Raw(combo.DanhSachMon.Replace("\n", "<br>").Replace("\r\n", "<br>"))
                    </div>
                    @if (@combo.Tang != null)
                    {
                        <div class="gift col-3 col-xxl-5">@combo.Tang</div>
                    }
                                
                </div>
                    
                }
            </ul>
        </div>
    </div>            }
    <div id="giaiMa" class="giai-ma">
        @foreach (var group in groupedData)
        {
            <div class="group">
                <div class="title-container">
                    <div class="vertical-line"></div>
                    @if (group.Key.NhomCha != null)
                    {
                        <div class="title">@group.Key.NhomCha?.TenNhom</div>
                        <div class="subtitle">@group.Key.TenNhom</div>
                    }
                    else
                    {
                        <div class="title">@group.Key.TenNhom</div>
                    }
                </div>
                
                @{var groupMon = group.GroupBy(m => m.NhomMonAn2).OrderBy(m => m.Key == null ? 0 : 1).ThenBy(m => m.Key != null ? m.Key.Order : 0);}
                @foreach (var nhomCon in groupMon) {
                    if(nhomCon.Key != null) {
                        <div class="subtitle nhom-2 pt-4">@nhomCon.Key.TenNhom</div>
                    }

                    <div class="menu">
                    <ul>
                        @foreach (var mon in nhomCon)
                        {
                            <li class="align-items-center">
                                <span class="dish-name">
                                    @mon.TenMon&nbsp;
                                    @if (@mon.GhiChu != null)
                                    {
                                        <span class="dish-note">(@mon.GhiChu)</span>
                                    }
                                </span>
                                <span class="dish-price"> 
                                    @switch(mon.GiaMon)
                                    {
                                        case 0: 
                                                <span class="dish-price-detail">Thời Giá /</span>
                                                ;
                                                break;
                                        case -1:
                                                <span class="dish-price-detail">Tùy loại /</span>
                                                ;
                                                break;
                                        case -2:
                                                <span class="dish-price-detail">Tặng</span>
                                                ;
                                                break;
                                        default:
                                                <span class="dish-price-detail"> @ConvertGia(@mon.GiaMon)</span><span>k /</span>
                                                break;
                                    }
                                    @mon.DonVi
                                </span>
                            </li>
                        }
                    </ul>
                </div>
                }
            </div>

        }
    </div>
    
    <div id="matMa" class="d-none"> 
        <button id="btnMatMa" class="button btn-matma">
            GIẢI MÃ
        </button>
        @foreach (var group in groupedData)
        {
            <div class="group">
                <div class="title-container">
                    <div class="vertical-line"></div>
                    @if (group.Key.NhomCha != null)
                    {
                        <div class="title">@group.Key.NhomCha?.TenNhomMatMa</div>
                        <div class="subtitle">@group.Key.TenNhomMatMa</div>
                    }
                    else
                    {
                        <div class="title">@group.Key.TenNhomMatMa</div>
                    }
                </div>
                @{var groupMon = group.GroupBy(m => m.NhomMonAn2).OrderBy(m => m.Key == null ? 0 : 1).ThenBy(m => m.Key != null ? m.Key.Order : 0);}
                @foreach (var nhomCon in groupMon) {
                    if(nhomCon.Key != null) {
                        <div class="subtitle nhom-2 pt-4">@nhomCon.Key.TenNhom</div>
                    }

                    <div class="menu">
                    <ul>
                        @foreach (var mon in nhomCon)
                        {
                            <li class="align-items-center">
                                <span class="dish-name">@mon.MatMa</span>
                                <span class="dish-price"> 
                                    @switch(mon.GiaMon)
                                    {
                                        case 0:
                                                <span class="dish-price-detail">Thời Giá /</span>
                                                ;
                                                break;
                                        case -1:
                                                <span class="dish-price-detail">Tùy loại /</span>
                                                ;
                                                break;
                                        case -2:
                                                <span class="dish-price-detail">Tặng</span>
                                                ;
                                                break;
                                        default:
                                                <span class="dish-price-detail"> @ConvertGia(@mon.GiaMon)</span><span>k /</span>
                                                break;
                                    }@mon.DonVi
                                </span>
                            </li>
                        }
                    </ul>
                </div>
                }
            </div>

        }
    </div>
</div>

<div class="edit-icon">
    <a class="nav-link text-dark" asp-area="" asp-controller="MonAns" asp-action=""><i class="fa fa-pencil"></i></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#btnGiaiMa').click((event) => {
                event.preventDefault();
                $('#matMa').removeClass('d-none');
                $('#giaiMa').addClass('d-none');
            });

            $('#btnMatMa').click((event) => {
                event.preventDefault();
                $('#giaiMa').removeClass('d-none');
                $('#matMa').addClass('d-none');
            });
        });
    </script>
}